main {
    margin-top: 100px;
}

main>div {
    position: relative;
    width: 100%;
    height: 600px;
}

main>div>:first-child {
    background-color: #1D1E28;
    color: white;
    width: 30%;
    font-size: 0.95rem;
    padding: 30px;
}

main>div>:first-child>div>span {
    font-size: 0.8rem;
    color: #aaa;
}

main>div>:first-child table {
    margin: 20px 0 40px;
    width: 100%;
}

main>div>:first-child table thead {
    border-bottom: 1px solid #aaa;
}

main>div>:first-child table thead th {
    font-weight: 300;
    width: 25%;
    padding: 15px 0;
}

main>div>:first-child table thead th span {
    font-size: 0.7rem;
    color: #aaa;
}

main>div>:first-child table thead th:nth-of-type(2) {
    width: 50%;
}

main>div>:first-child table tbody tr {
    background-color: #32333a;
}

main>div>:first-child table tbody tr td {
    padding: 25px 15px;
    word-break: break-all;
}

main>div>:first-child table tbody tr td span {
    font-size: 0.8rem;
    color: #aaa;
    word-break: break-all;
}

main>div>:first-child table tbody tr td h3 {
    text-align: center;
    margin-bottom: 5px;
}

main>div>:first-child table tbody tr td div {
    justify-content: center;
    gap: 10px
}

main>div>:first-child>div:last-of-type>p {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

main>div>:first-child>div:last-of-type ul li {
    justify-content: left;
    margin: 20px 0;
    gap: 20px
}

main>div>:first-child>div:last-of-type ul li div {
    margin: auto 0;
}

main>div>:last-child {
    position: relative;
    width: 70%;
    height: 600px;
}

main>div>:last-child>img {
    width: 100%;
    max-width: 3000px;
    height: auto;
    object-fit: cover;
}

.main-slide-wrapper {
    height: 620px;
}

.main-slider {
    position: relative;
    width: 100%;
    height: 620px;
    overflow: hidden;
}

.main-slider img {
    object-fit: cover;
}

.main-slide-wrapper button {
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.main-slide-wrapper .main-arrow-prev {
    z-index: 3;
    position: absolute;
    left: 100px;
}

.main-slide-wrapper .main-arrow-next {
    z-index: 3;
    position: absolute;
    right: 100px;
}

.recommend {
    background: url("/images/recommend_background.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.recommend>div {
    width: 1460px;
    margin: 0 auto;
    padding: 100px 0 150px;
    z-index: 2;
    overflow: hidden;
}

.recommend>div>:first-child {
    text-align: center;
    color: #252423;
    margin-bottom: 50px;
}

.recommend>div>:first-child p {
    margin-top: 10px;
}

.recommend>div>:last-child {
    width: 1805px;
}

.recommend>div>:last-child>div {
    margin-right: -20px
}

.recommend-slide-wrapper .slick-arrow {
    display: none;
    opacity: 0;
}

.product>div {
    width: 1460px;
    margin: 0 auto;
    padding: 180px 0 150px;
}

.product>div>:first-child {
    margin-bottom: 50px;
    padding-bottom: 80px;
    border-bottom: 1px solid #ddd;
}

.product>div>:first-child>h2 {
    text-align: center;
    font-size: 1.8rem;
}

.product>div>:first-child ul {
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.product>div>:first-child ul li a {
    color: #000;
    background: #f3f3f3;
    border-radius: 7px;
    padding: 8px 45px;
    font-size: 1.2rem;
}

.product>div>:first-child ul li a:focus {
    background-color: #000;
    color: white;
}

.loading {
    width: 100%;
    height: 500px;
    position: relative;
}

.loading p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
}

.product-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
}

.unList {
    height: 300px;
}

.unList>p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #555;
}

.product-list .product-item {
    text-align: center;
    width: 23.2%;
    margin: 5px;
    margin-bottom: 30px;
}

.item-wrapper {
    width: 100%;
    height: 300px;
}

.item-wrapper>a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.product-list .product-item>:first-child img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.product-list .product-item>:last-child p:first-of-type {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 20px;
}

.product-list .product-item>:last-child p:nth-of-type(2) {
    color: #919191;
    font-weight: bold;
    margin: 10px 0 8px;
}

.product-list .product-item>:last-child p span {
    font-weight: bold;
}

.detail>div {
    width: 1200px;
    margin: 0 auto;
    padding: 180px 0 150px;
}

.detail>div>:first-child {
    margin-bottom: 75px;
}

.detail>div>:first-child>:first-child {
    margin: auto 0;
}

.detail>div>:first-child>:last-child {
    margin: auto 0;
    width: 45%;
}

.detail>div>:first-child>:last-child>p {
    color: #555;
    margin: 20px 0 40px;
}

.detail>div>:first-child>:last-child>div>p {
    color: #555;
}

.detail>div>:first-child>:last-child>div>p:last-of-type {
    margin-top: 30px;
}

.detail>div>:first-child>:last-child>div h3 {
    margin: 5px 0 25px;
    font-size: 1.5rem;
}

.detail>div>:first-child>:last-child>div ul {
    border-top: 1px solid #ddd;
    padding: 15px 0 0;
}

.detail>div>:first-child>:last-child>div ul li {
    color: #333;
    padding: 8px 0;
}

.detail>div>:first-child>:last-child>div ul li p:first-of-type {
    font-weight: bold;
}

.detail>div>:first-child>:last-child>div ul li p:last-of-type {
    width: 60%;
}

.detail>div>:first-child>:last-child>div>p:last-of-type {
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.detail>div>:first-child>:last-child>button {
    margin-top: 70px;
    background: #E3C565;
    color: white;
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
}

.detail>div>:last-child>h2 {
    border-bottom: 1px solid black;
    padding: 20px 0;
    margin-bottom: 70px;
}

.detail>div>:last-child>div {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.detail>div>:last-child>div>img {
    height: auto;
}

.detail>div>:last-child>div>img:first-of-type {
    margin-bottom: 80px;
}

.admin>div {
    width: 1460px;
    margin: 0 auto;
    padding: 100px 0 150px;
}

.admin>div>:first-child {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.admin>div>form,
.admin>div>:last-child {
    width: 500px;
    margin: 0 auto;
}

.admin>div>form h3 {
    margin-bottom: 30px;
}

.admin>div>form>div {
    margin-bottom: 50px;
}

.admin>div>form>div>div {
    width: 30%;
}

.admin>div>form input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #aaa;
    margin-top: 10px;
}

.admin>div>form button {
    cursor: pointer;
    width: 100%;
    background: #000;
    color: white;
    padding: 10px;
}

.admin>div>form button:hover {
    background-color: #252524;
}

.admin>div>:last-child {
    margin-top: 80px;
}

.admin>div:last-child table {
    width: 100%;
    margin-top: 20px;
}

.admin>div>:last-child table thead tr th {
    padding: 10px;
    background-color: #1D1D1A;
    border-bottom: 1px solid #414141;
    color: #ccc;
    font-weight: 300;
    width: 50%;
}

.admin>div>:last-child table thead tr th:first-of-type {
    border-right: 1px solid #555;
}

.admin>div>:last-child table thead tr th span {
    font-size: 0.9rem;
}

.admin>div>:last-child table tbody tr td {
    text-align: center;
    padding: 20px;
    border: 1px solid #aaa
}

@media screen and (max-width: 768px) {

    main {
    margin-top: 80px;
}

    main>div {
        height: auto;
        flex-wrap: wrap;
    }

    main>div>:first-child {
        padding: 50px 15px 35px;
        width: 100%;
        font-size: 0.9rem;
        order: 2;
    }

    main>div>:first-child>div>span {
        font-size: 0.9rem;
    }

    main>div>:first-child table {
        margin: 20px 0 50px;
    }

    main>div>:first-child table tbody tr td {
        padding: 10px;
    }

    main>div>:first-child table tbody tr td>p span {
        font-size: 0.7rem;
    }

    main>div>:first-child table tbody tr td h3 {
        text-align: center;
        margin-bottom: 5px;
        font-size: 1rem;
    }

    main>div>:first-child table tbody tr td>div img {
        width: 8px;
        height: auto;
    }

    main>div>:first-child table tbody tr td>div p {
        font-size: 0.8rem;
    }

    main>div>:first-child>div:last-of-type>p {
        margin-bottom: 30px;
        font-size: 1rem;
        text-align: left;
    }

    main>div>:first-child>div:last-of-type ul li {
        justify-content: left;
        margin: 15px 0;
        gap: 15px;
        font-size: 0.8rem;
    }

    main>div>:first-child>div:last-of-type ul li img {
        width: 12px;
        height: auto;
    }

    main>div>:last-child {
        position: relative;
        width: 100%;
        height: 180px;
    }

    main>div>:last-child img {
        object-fit: cover;
        height: auto;
    }

    .recommend>div {
        width: 100%;
        margin: 0;
        padding: 80px 5% 100px;
        overflow: hidden;
    }

    .recommend>div>:last-child {
        width: 500px;
    }

    .recommend>div>:last-child>div {
        margin-right: 0px;
    }

    .recommend>div>:last-child>div a img {
        width: 230px;
        height: auto;
    }

    .recommend .slcik-slide {
        padding: 10px;
        margin: 0;
    }

    .product>div {
        width: 100%;
        margin: 0;
        padding: 120px 5% 100px;
    }

    .product>div>:first-child {
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    .product>div>:first-child>h2 {
        font-size: 1.5rem;
    }

    .product>div>:first-child ul {
        margin-top: 40px;
        flex-wrap: wrap;
    }

    .product>div>:first-child ul li {
        margin-bottom: 10px;
    }

    .product>div>:first-child ul li a {
        padding: 8px 15px;
        font-size: 1rem;
    }

    .product-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }

    .product-list .product-item {
        width: 46%;
        margin: 0px;
        margin-bottom: 20px;
    }

    .item-wrapper {
        width: 100%;
        height: 150px;
    }

    .product-list .product-item>:first-child img {
        object-fit: contain;
    }

    .product-list .product-item>:last-child p {
        font-size: 0.9rem;
    }

    .product-list .product-item>:last-child p:first-of-type {
        font-size: 0.9rem;
    }

    .product-list .product-item>:last-child p:nth-of-type(2) {
        font-size: 0.8rem;
    }

    .detail>div {
        width: 100%;
        margin: 0;
        padding: 100px 5%;
    }

    .detail>div>:first-child {
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .detail>div>:first-child>:first-child {
        margin: 0;
    }

    .detail>div>:first-child>:first-child img {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .detail>div>:first-child>:last-child {
        margin: 0;
        width: 100%;
    }

    .detail>div>:first-child>:last-child h2 {
        font-size: 1.3rem;
    }

    .detail>div>:first-child>:last-child>p {
        color: #555;
        margin: 10px 0 30px;
    }

    .detail>div>:first-child>:last-child>div>p {
        color: #555;
        font-size: 0.9rem;
    }

    .detail>div>:first-child>:last-child>div>p:last-of-type {
        margin-top: 20px;
    }

    .detail>div>:first-child>:last-child>div h3 {
        font-size: 1.2rem;
    }

    .detail>div>:first-child>:last-child>div ul li {
        font-size: 0.9rem;
    }

    .detail>div>:first-child>:last-child>button {
        margin-top: 50px;
        background: #E3C565;
        color: white;
        width: 100%;
        padding: 15px;
        font-size: 1.2rem;
    }

    .detail>div>:last-child>h2 {
        font-size: 1.3rem;
    }

    .detail>div>:last-child>div {
        width: 100%;
        margin: 0;
    }

    .detail>div>:last-child>div>img {
        width: 100%;
        height: auto;
    }

    .detail>div>:last-child>div>img:first-of-type {
        margin-bottom: 50px;
    }

    .admin>div {
        width: 100%;
        margin: 0;
        padding: 50px 5% 80px;
    }

    .admin>div>:first-child {
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    .admin>div>form,
    .admin>div>:last-child {
        width: 100%;
    }

    .admin>div>form h3 {
        margin-bottom: 50px;
    }

    .admin>div>form>div {
        margin-bottom: 20px;
    }

}